:root{
    --corbug: #AABA39;

    --cordark: #725A4A;

    --cordragon: #6357A6;

    --corelectric: #F7D233;

    --corfairy: #F7CBDF;

    --corfighting: #C4312B;

    --corfire: #F17F2D;

    --corflying: #9E8FC5;

    --corghost: #71599A;

    --corgrass: #79C251;

    --corground: #E0C166;

    --corice: #98D6D5;

    --cornormal: #ACAA7A;

    --corpoison: #9E4399;

    --corpsychic: #F05889;

    --corrock: #B9A338;

    --corsteel: #B8B8D2;

    --corwater: #6E8BC6;
     
     
     
}